// Colors
$N30: #ebecf0;
$N40: #dfe1e5;
$N50: #c1c7d0;
$N80: #97a0af;
$N200: #6c798f;
$N300: #5e6c84;
$N500: #42526e;
$N800: #172b4d;
$N900: #091e42;
$B300: #0065ff;
$B400: #0052cc;

// Font-weights
$medium: 500;
$semibold: 600;
$bold: 700;
